.blog-card {
    transition: 0.3s;
    max-width: 600px;
    max-height: 770px;
    /* max-height: 600px; */
    box-shadow: 2px 6px 9px 1px #606060;
    /* border: 5px double black; */
    /* border: 10px solid black; */
    /* background: #f8fa9d; */
    /* padding: 30px; */
    /* text-align: center; */
    /* min-width: 200px; */

    /* margin: 5px;   */
  }

  .blog-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blog-card-container{
    padding: 2px 16px;
    /* border: 1px solid yellow; */
  }

  .blog-main-pic{
      max-height: 400px;
  }

  .blog-title-sub{
      padding-left: 15px;
  }

  .blog-card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #7CB9E8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .count {

    padding-right: 20px;

    /* vertical-align: middle; */
    /* margin-bottom:10px; */
  }

  .count span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:#000;
    color:#fff;
  }