body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comic Sans MS", sans-serif;
}

.page-header {
  color: black;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 120px;
  grid-template-areas:
    "main"
    "sd"
    "ft";
  /* border: 5px solid red; */
  padding: 5px;
  column-gap: 10px;
  row-gap: 10px;
}

/* .header-box {
  background: #f8fa9d;
  padding: 5px; 
}*/

/* .header {
  grid-area: hd;
  border: 1px solid red;
} 
*/

.footer {
  grid-area: ft;
  /* border: 5px dotted gray; */
  font-family: "Arial", sans-serif;
  color: darkolivegreen;
  background-color: rgb(205, 203, 203);
}

.sidebar-container {
  
  grid-area: sd;
  /* border: 5px dotted green; */
  padding: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  gap: 20px;
  padding: 15px;
  /* max-height: 600px; */

}

.blog-entries {
  grid-area: main;
  /* border: 5px dotted purple; */
  /* min-width: 320px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

@media(min-width:900px){
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 120px;
    grid-template-areas:
      "main main main main sd sd sd sd"
      "ft ft ft ft ft ft ft ft";
    /* border: 5px solid red; */
    padding: 5px;
    column-gap: 10px;
    row-gap: 10px;
  }
}


