body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comic Sans MS", sans-serif;
}

.page_header {
  color: black;
  text-align: center;
}

.container {
  /* Step 1: Set display to grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 60px;
  grid-template-areas:
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid black;
  padding: 5px;
  column-gap: 10px;
  row-gap: 10px;
}

/* .header-box {
  background: #f8fa9d;
  padding: 5px; 
}*/

.sidebar-box {
  /* border: 10px solid black; */
  /* background: #f8fa9d; */
  padding: 5px;
  text-align: center;
  min-width: 200px;
  /* margin: 5px;   */
}

/* .header {
  grid-area: hd;
  border: 1px solid red;
} 
*/

.footer {
  grid-area: ft;
  border: 1px solid blue;

}

.sidebar {
  grid-area: sd;
  border: 1px solid green;
}

.blog-entries {
  grid-area: main;
  border: 1px solid purple;
}

