@import "intro-card.css";
@import "blogs.css";
@import "pop-list.css";

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}

.page-header {
  color: black;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "main"
    "sd"
    "ft";
  padding: 5px;
  column-gap: 10px;
  row-gap: 10px;
}

.footer {
  grid-area: ft;
  color: darkolivegreen;
}

.footer-disclaimer {
  color: gray;
  font-size: smaller;
}

.sidebar-container {
  grid-area: sd;
  padding: 10px;
  gap: 20px;
  padding: 15px;
}

.blog-entries {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

@media screen and (min-device-width: 768px) and (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 120px;
    grid-template-areas:
      "main main main main sd sd sd sd"
      "ft ft ft ft ft ft ft ft";

    padding: 5px;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media screen and (max-device-width: 768px) {
  .footer-disclaimer {
    color: red;
    font-size: x-small;
  }
}
