.pop-posts {
  box-shadow: 2px 6px 9px 1px #606060;
  max-width: 500px;
  padding-bottom: 10px;
}

.pop-posts-hd {
  text-align: center;
  padding: 5px;
  box-shadow: 0px 2px 9px 5px rgba(96,96,96,0.81);
}

.list {
  display: flex;
  flex-direction: column;
  /* border: 5px double black; ; */
  padding: 1px;
}

.list li {
  display: table;
  transition: 0.3s;
  box-shadow: 0px 3px 7px 2px rgba(122,45,17,0.62);
}

.list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.li-img {
  display : table-cell;
  vertical-align: middle;
}

.li-img img {
  width: 100px;
  height: auto;
}

.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 75%;
}
.li-head {
  padding-left: 5px;
  margin: 10px 0 0 0;
}
.li-sub {
  padding-left: 5px;
  margin: 0;
} 
