.pop-posts {
  box-shadow: 2px 6px 9px 1px #606060;
  max-width: 500px;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.pop-posts-hd {
  text-align: center;
  padding: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  /* border: 5px double black; ; */
  padding: 1px;

}

.list li {

  display: table;
  transition: 0.3s;
  /* box-shadow: 2px 6px 9px 1px #606060; */
  box-shadow: 0px 5px 9px 1px #606060;
  /* width: auto; */
  /* border-collapse: collapse; */
}

.list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.li-img {
  display : table-cell;
  vertical-align: middle;
  /* width: 25%; */
  /* padding-right: 1em; */
}

.li-img img {
  width: 100px;
  /* display: block; */
  /* width: 100%; */
  /* height: auto; */
}

.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 75%;
}
.li-head {
  padding-left: 5px;
  margin: 10px 0 0 0;
}
.li-sub {
  padding-left: 5px;
  margin: 0;
} 


/*
.inner {
  display: table-row;
  overflow: hidden;
}
*/
