.intro-card {
    transition: 0.3s;
    max-width: 350px;
    max-height: 600px;
    box-shadow: 2px 6px 9px 1px #606060;
    text-align: center;

    /* border: 5px double black; */
  }
  
  .intro-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
    padding: 2px 16px;
  }

  
