.intro-card {
    transition: 0.3s;
    max-width: 350px;
    border: 5px double black;
  }
  
  .intro-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
    padding: 2px 16px;
  }
  
  .introduction-box {
    /* border: 10px solid fuchsia; */
    /* background: #f8fa9d; */
    padding: 10px;
    text-align: center;
    min-width: 200px;
    /* margin: 5px;   */
  }
  
